@font-face {
  font-family: matura;
  src: url('../font/MATURASC.TTF') format('truetype');
}
@keyframes carousel {
  from {
    transform: translate(0,0);
  }
  to {
    transform: translate(calc(-100vw),0);
  }
}

html, body {
  background-image: url('../img/bg.png');
  background-attachment: fixed;
  background-size: cover;
  color: #000;
  font-family: "matura", serif;
  font-size: 3.5vw;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
main {
  margin: 0 2vw;
  /* height: 80vw;
  max-height: 80vw; */
  /* margin-bottom: -20vw; */
}
a,
a:active,
a:visited {
  outline: none;
  text-decoration: none;
  color:#551a8b;
  -webkit-text-stroke-color:	#551a8b;
}
.heartglobe {
  cursor: url('../img/stickers/heartglobe64.png') 32 32, auto;
}
.angels {
  cursor: url('../img/stickers/angels64.png') 32 32, auto;
}
.brokenchain {
  cursor: url('../img/stickers/brokenchain64.png') 32 32, auto;
}
.flower {
  cursor: url('../img/stickers/flower64.png') 32 32, auto;
}
.pinkyswear {
  cursor: url('../img/stickers/pinkyswear64.png') 32 32, auto;
}
.window {
  cursor: url('../img/stickers/window64.png') 32 32, auto;
}
.record {
  cursor: url('../img/stickers/record64.png') 32 32, auto;
}
.computermouse {
  cursor: url('../img/stickers/computermouse64.png') 32 32, auto;
}
.twinkles1 {
  cursor: url('../img/stickers/twinkles164.png') 32 32, auto;
}
.twinkles5 {
  cursor: url('../img/stickers/twinkles564.png') 32 32, auto;
}
.dice {
  cursor: url('../img/stickers/dice64.png') 32 32, auto;
}
.flower2 {
  cursor: url('../img/stickers/flower264.png') 32 32, auto;
}
.squiggle1 {
  cursor: url('../img/stickers/squiggle164.png') 32 32, auto;
}
.squiggle3 {
  cursor: url('../img/stickers/squiggle364.png') 32 32, auto;
}
h1 {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  margin: 0 5vw;
}
iframe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: fill;
  object-position: center;
  transform-origin: center center;
  position: absolute;
}
.content {
  /* display: grid;
  grid-template-columns: 60% 40%; */
  position: relative;
}
.content-bottom {
  /* padding-top: 5vw; */
  /* padding-bottom: -10vw; */
  display: grid;
  grid-template-columns: 60% 40%;
}
.content-stickers {
  height: 0;
}
.marquee-container {
  padding: 3vw 0 6vw 0;
  position: relative;
}
.marquee {
  animation: carousel 9s linear infinite;
  font-size: 3.5vw;
  position: absolute;
  width: 100vw;
}
.marquee-offset {
  left: 100vw;
}

.imsg-container {
  background-image: url('../img/border.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(70vw * 0.84);
  height: 70vw;
  padding-top: 9vw;
  margin-left: 2vw;
  position: relative;
  transform-origin: top left;
  transform: scale(0.6, 0.6);
}
.imsg-item {
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  position: relative;
  left: 2vw;
  margin: 2.5vw 2vw;
}
.imsg-item-right {
  margin-right: 5vw;
  margin-left: auto;
}
#imsg-nyc,
#imsg-peep {
  cursor: default;
}
#imsg-nyc {
  background-image: url('../img/tynyc.png');
  background-size: 41.25vw 8.5vw;
  width: 41.25vw;
  height: 9vw;
  margin-bottom: -1.8vw;
}
#imsg-peep {
  background-image: url('../img/peep.png');
  background-size: 40.73vw 6.27vw;
  width: 40.73vw;
  height: 6.27vw;
}
#imsg-bkshowslove {
  background-image: url('../img/bkshowslove.png');
  background-size: 40vw 7.2vw;
  width: 40vw;
  height: 3.6vw;
}
#imsg-ridgewood {
  background-image: url('../img/ridgewood.png');
  background-size: 37.2vw 7.2vw;
  width: 37.2vw;
  height: 3.6vw;
}
#imsg-bailfund {
  background-image: url('../img/bailfund.png');
  background-size: 47.1vw 12.55vw;
  width: 47.1vw;
  height: 6.27vw;
}
#imsg-protect {
  background-image: url('../img/protect.png');
  background-size: 47.1vw 12.55vw;
  width: 47.1vw;
  height: 6.27vw;
}
#imsg-bkshowslove:hover,
#imsg-ridgewood:hover {
  background-position: 0 -3.6vw;
}
#imsg-bailfund:hover,
#imsg-protect:hover {
  background-position: 0 -6.27vw;
}

.social-container {
  position: relative;
  height: 35vw;
}
.social-item {
  display: block;
  color: #000;
  font-size: 3vw;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
.social-item:hover {
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#social-ig {
  margin-top: 8%;
  left: 4%;
}
#social-fb {
  margin-top: 40%;
  left: 2%;
}
#social-sc {
  margin-top:48%;
  left: 40%;
}
#social-sp {
  margin-top: 27%;
  left:25%;
}
#social-am {
  margin-top: 16%;
  left: 40%;
}
/* .social-item {
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  margin: 12px auto;
  position: absolute;
}
#social-container-og {
  display: block;
}
#social-container-clone {
  display: none;
}
#social-ig {
  background: url('../img/ig_f.png');
  background-size: 29.3vw 6.53vw;
  width: 29.3vw;
  height: 3.27vw;
  margin-top: 8%;
  left: 4%;
}
#social-ig:hover {
  background-position: 0 3.27vw;
}
#social-fb {
  background: url('../img/fb_f.png');
  background-size: 26.1vw 6.39vw;
  width: 26.1vw;
  height: 3.195vw;
  margin-top: 40%;
  left: 2%;
}
#social-fb:hover {
  background-position: 0 3.195vw;
}
#social-sc {
  background: url('../img/sc_f.png');
  background-size: 28.5vw 5.42vw;
  width: 28.5vw;
  height: 2.71vw;
  margin-top: 48%;
  left: 40%;
}
#social-sc:hover {
  background-position: 0 2.71vw;
}
#social-sp {
  background: url('../img/sp_f.png');
  background-size: 24.5vw 7.36vw;
  width: 24.5vw;
  height: 3.68vw;
  margin-top: 27%;
  left:25%;
}
#social-sp:hover {
  background-position: 0 3.68vw;
}
#social-am {
  background: url('../img/am_f.png');
  background-size: 28.6vw 5.83vw;
  width: 28.6vw;
  height: 2.92vw;
  margin-top: 16%;
  left: 40%;
}
#social-am:hover {
  background-position: 0 2.92vw;
} */

.content-stickers {
  position: absolute;

}
.sticker {
  display: none;
  height: auto;
  position: absolute;
  /* overflow: hidden; */
  width: 64px;
  z-index: 0;
}

@media all and (max-width: 768px) {
  @keyframes carousel {
    from {
      transform: translate(0,0);
    }
    to {
      transform: translate(calc(-140vw),0);
    }
  }
  main {
    margin: 0 3vw;
  }
  h1 {
    -webkit-text-stroke-width: 0.5px;
  }
  .content {
    display: block;
    grid-template-columns: unset;
  }
  .content-bottom {
    display: block;
  }
  .iframe-wrapper {
    margin:0;
  }
  .marquee {
    animation-duration: 12s;
    font-size: 5vw;
    overflow: visible;
    white-space: nowrap;
    width: 140vw;
  }
  .marquee-offset {
    left: 140vw;
  }
  .marquee-container {
    padding: 3vw 0 8vw 0;
  }
  .imsg-container {
    margin: 0 auto;
    transform: scale(1, 1);
    transform-origin: center;
  }
  .social-container {
    height: 60vw;
    margin: 0 auto;
    margin-top: 4vw;
    /* margin-bottom: 6vw; */
    /* transform: scale(1.25, 1.25);
    transform-origin: top left; */
  }
  .social-item {
    font-size: 4.5vw;
  }
}
